<div class="wrapper">
  <section>Dieser Webshop wurde im Rahmen einer Bachelorarbeit entwickelt. Das Ziel
    von diesem Bachelorarbeit ist es, die User Experience Smells auf E-Commerce Plattformen automatisiert zu erkennen.
    Der <b>UX Smells Finder</b> überprüft dafür die E-Commerce-Plattform nach Optimierungspotential bzw. Smells, die die
    UX schlecht beeinflussen.
  </section>
  <section>Da dieser Webshop im Rahmen einer Bachelorarbeit entwickelt und genutzt wird,
    werden die auf diesem Webshop angebotenen Produkte nicht in echt verkauft!
  </section>
</div>
