/* You can add global styles to this file, and also import other style files */

#jumbotron-app-container {
  height: 100%;
  width: 100%;
  background: #49bed3;
  color: #fff;
  font-family: 'Titillium Web';
  text-align: center;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
