<div class="container">
  <div class="item">
    <p><strong>Kontaktdaten des Datenschutzbeauftragten</strong></p>
    <p>Der <strong>Datenschutzbeauftragte</strong> des Unternehmens/Verantwortlichen ist:</p>
    <p>Mohamed Ben Salha</p>
  </div>
  <div class="item">
    <p><strong>Rechtsgrundlage</strong></p>
    <p>Insofern wir für die Verarbeitung der personenbezogenen Daten eine <strong>Einwilligung</strong> der betroffenen
      Person eingeholt haben, gilt Artikel 6 Absatz 1 Unterabsatz 1a der DSGVO als rechtliche Grundlage.
      Ist die Verarbeitung personenbezogener Daten für die <strong>Erfüllung eines Vertrags</strong> mit der betroffenen
      Person oder für <strong>vorvertragliche Maßnahmen</strong> erforderlich, die durch die betroffene Person
      veranlasst
      wurden, dient Artikel 6 Absatz 1 Unterabsatz 1b (DSGVO) als Rechtsgrundlage.
      Ist die Datenverarbeitung das Resultat einer <strong>rechtlichen Verpflichtung</strong>, der wir unterliegen,
      berufen wir
      uns auf Artikel 6 Absatz 1 Unterabsatz 1c der DSGVO als rechtliche Basis.
      Erfolgt die Verarbeitung personenbezogener Daten, um <strong>lebenswichtige Interessen</strong> der betroffenen
      Person oder einer anderen natürlichen Person zu schützen, dient Artikel 6 Absatz 1 Unterabsatz 1d
      (DSGVO) als Rechtsgrundlage.
      Dient die Datenverarbeitung einer Aufgabe, die im <strong>öffentlichen Interesse</strong> liegt oder in <strong>Ausübung
        öffentlicher Gewalt</strong> erfolgt, berufen wir uns auf Artikel 6 Absatz 1 Unterabsatz 1e der DSGVO.
      Insofern die Verarbeitung personenbezogener Daten erforderlich ist, um <strong>berechtigte Interessen des
        Verantwortlichen</strong> oder eines Dritten zu wahren – ohne dabei die Interessen, Grundrechte oder
      Grundfreiheiten der betroffenen Person zu gefährden –, gilt Artikel 6 Absatz 1 Unterabsatz 1f (DSGVO)
      als Rechtsgrundlage.</p>
  </div>
  <div class="item">
    <p><strong>Zweck der Datenverarbeitung</strong></p>
    <p>Um Ihren Besuch so benutzerfreundlich wie möglich zu gestalten und sämtliche verfügbaren
      Funktionen anbieten zu können, erheben wir eine Reihe von <strong>Daten und Informationen des Geräts</strong>, mit
      dem Sie unsere Website aufgerufen haben. Dabei handelt es sich um folgende Daten:</p>
    <p>IP-Adresse</p>
    <p>Betriebssystem</p>
    <p>Browsertyp und -version</p>
    <p>Datum und Uhrzeit des Zugriffs</p>
    <p>Eine Auswertung dieser Daten zu Marketingzwecken findet in diesem Zusammenhang nicht statt.</p>
  </div>
  <div class="item">
    <p><strong>Datenspeicherungsdauer</strong></p>
    <p>Alle personenbezogenen Daten, die wir während Ihres Besuchs durch den Einsatz von
      <strong>Sitzungs-Cookies</strong>
      gesammelt haben, werden automatisch gelöscht, sobald der Zweck für ihre Erhebung erfüllt ist. Die
      Sitzungsdaten werden demnach so lange gespeichert, <strong>Sie Ihre Sitzung beenden</strong> (durch das
      Verlassen bzw. Schließen der Website).</p>
  </div>
  <div class="item">
    <p><strong>Betroffenenrechte</strong></p>
    <p>Im Sinne der DSGVO zählen Sie als Betroffener, wenn personenbezogene Daten, die Sie betreffen, von
      uns verarbeitet werden. Aus diesem Grund können Sie von verschiedenen Betroffenenrechten
      Gebrauch machen, die in der Datenschutz-Grundverordnung verankert sind. Hierbei handelt es sich
      um das <strong>Auskunftsrecht</strong> (Artikel 15 DSGVO), das <strong>Recht auf Berichtigung</strong> (Artikel 16
      DSGVO), das <strong>Recht
        auf Löschung</strong> (Artikel 17 DSGVO), das <strong>Recht auf Einschränkung der Verarbeitung</strong> (Artikel
      18 DSGVO),
      das <strong>Widerspruchsrecht</strong> (Artikel 21 DSGVO), das <strong>Recht auf Beschwerde bei einer
        Aufsichtsbehörde</strong>
      (Artikel 77 DSGVO) sowie das <strong>Recht auf Datenübertragbarkeit</strong> (Artikel 20 DSGVO).</p>
  </div>
</div>
