<div class="main-div" fxFlexFill fxLayoutAlign="center center">
  <mat-card fxFlex="25">
    <mat-toolbar color="primary">Change Passwort</mat-toolbar>
    <!--<form fxLayoutAlign="stretch" fxLayout="column" class="login-form" (ngSubmit)="onSubmit()">-->
    <form (ngSubmit)="onSubmit()" class="login-form" fxLayout="column" fxLayoutAlign="stretch">
      <mat-form-field appearance="fill">
        <input [(ngModel)]="email" class="from-contorl" id="email" matInput name="email" placeholder="Email eingeben"
               required
               type="text">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <input [(ngModel)]="token" class="form-control" id="token" matInput name="token" placeholder="Token eingeben"
               required
               type="text">
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]="password" class="form-control" id="Passwort" matInput name="password"
               placeholder="Passwort eingeben" required type="password">
      </mat-form-field>
      <button mat-raised-button type="submit">Change Passwort<i class="material-icons">save</i></button>
    </form>
  </mat-card>
</div>
