<footer class="page-footer grey darken-2">
  <div class="footercontainer">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Bachelorarbeit Webshop</h5>
        <p class="grey-text text-lighten-4">Dieser Webshop wurde im Rahmen einer Bachelorarbeit entwickelt und es findet kein richtiger Verkauf der angebotenen Produkte statt.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Kontakt</h5>
        <ul>
          <p>Haben Sie Fragen zum Zweck dieser Webseite und u.a. der Bachelorarbeit? Diese Benatworten wir Ihnen
            gerne.</p>
          <li><a class="grey-text text-lighten-3" href="/contact" matomoClickAction="Contact"
                 matomoClickCategory="Click">Kontakt aufnehmen!</a>
          </li>
        </ul>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Social Media</h5>
        <ul>
          <p>Anbei finden sie unsere Social Media Kanäle.</p>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <a class="grey-text text-lighten-4 right" style="padding: 5px; position: absolute; left: 0%; top: 25%;">Bachelorarbeit</a>
      <a class="grey-text text-lighten-4 right" href="/contact" matomoClickAction="Contact"
         matomoClickCategory="Click" style="position: absolute; right: 14%; top: 25%;">Contact</a>
      <a class="grey-text text-lighten-4 right" href="/datenschutz" matomoClickAction="Datenschutz"
         matomoClickCategory="Click" style="position: absolute; right: 7%; top: 25%;">Datenschutz</a>
      <a class="grey-text text-lighten-4 right" href="/impressum" matomoClickAction="Impressum"
         matomoClickCategory="Click" style="position: absolute; right: 1%; top: 25%;">Impressum</a>
    </div>
  </div>
</footer>
