<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <title>Bachelorarbeit Testshop</title>
  <!-- Matomo -->
  <script>
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(["disableCookies"]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function () {
      var u = "https://emundo.matomo.cloud/";
      _paq.push(['setTrackerUrl', u + 'matomo.php']);
      _paq.push(['setSiteId', '8']);
      var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
      g.async = true;
      g.src = '//cdn.matomo.cloud/emundo.matomo.cloud/matomo.js';
      s.parentNode.insertBefore(g, s);
    })();
  </script>
  <noscript><p><img alt="" src="https://emundo.matomo.cloud/matomo.php?idsite=8&amp;rec=1" style="border:0;"/></p>
  </noscript>
  <!-- End Matomo Code -->
</head>
<body>


<div fxFlexFill fxLayout="column">
  <app-navbar></app-navbar>
  <div fxFlex>
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>

</body>
</html>
