<div class="main-div" fxFlexFill fxLayoutAlign="center center">
  <mat-card fxFlex="25">
    <mat-toolbar color="primary">Login Page</mat-toolbar>
    <!--<form fxLayoutAlign="stretch" fxLayout="column" class="login-form" (ngSubmit)="onSubmit()">-->
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="login-form" fxLayout="column" fxLayoutAlign="stretch">
      <mat-form-field appearance="fill">
        <input #email="ngModel" class="form-control" id="email" matInput name="email" name="email" ngModel
               placeholder="Email eingeben" required type="email">
        <!--<div *ngIf="Login.submitted && username.errors" style="color: red;">
          <div *ngIf="username.hasError('required')">
            Username wird benötigt
          </div>
        </div>-->
      </mat-form-field>
      <button [disabled]="f.invalid" mat-raised-button type="submit">Reset Passwort<i class="material-icons">send</i>
      </button>
    </form>
  </mat-card>
</div>
