.btn {
  position: absolute;
  margin-top: 5%;
  background-color: var(--background-color);
  color: black;
  border-color: black;

  --background-color: ghostwhite;
  --accent-color: #ffeb3b;
}

.btn.btn-success::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: var(--background-color);
  border-radius: 50%;
  transition: transform 500ms ease-in-out;

  transform: scale(1.5);
}

.btn.btn-success:hover::before,
.btn.btn-success:focus::before {
  transform: scale(0);
}

.btn.btn-success {
  z-index: 1;
  overflow: hidden;
  background-color: var(--accent-color);
}

.btn span {
  display: block;
  position: absolute;
  background: #fbc02d;
}

.btn span:nth-child(1) {
  left: 0;
  bottom: 0px;
  width: 3px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s;
}

.btn:hover span:nth-child(1) {
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}

.btn span:nth-child(2) {
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 3px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.btn:hover span:nth-child(2) {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.5s;
}

.btn span:nth-child(3) {
  right: 0;
  bottom: 0px;
  width: 3px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.btn:hover span:nth-child(3) {
  transform: scaleY(1);
  transform-origin: left;
  transition: transform 0.5s;
}

.btn span:nth-child(4) {
  left: 0;
  top: 0px;
  width: 100%;
  height: 3px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.btn:hover span:nth-child(4) {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.5s;
}
